* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Kumbh-Sans-400;
    src: url('./fonts/Kumbh-Sans/static/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: Kumbh-Sans-700;
    src: url('./fonts/Kumbh-Sans/static/KumbhSans-Bold.ttf');
}

body {
    background: -webkit-linear-gradient(top left, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#card {
    background-color: white;
    width: 1000px;
    height: 525px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    position: relative;
}

#photos {
    position: relative;
    flex: 1;
    overflow: hidden;
}

#photo-bg {
    position: absolute;
    left: -115%;
    top: -57%;
}

#photo-woman {
    position: absolute;
    left: -16%;
    top: 15%;
}

#photo-box {
    position: absolute;
    left: -9.3%;
    top: 40%;
    z-index: 1;
}

#side {
    flex: 1;
    margin: 50px 0;
}

h1 {
    font-family: Kumbh-Sans-700;
    font-size: 30px;
    color: hsl(237, 12%, 33%);
}

ul {
    margin: 15px 0;
}

.ask {
    font-family: Kumbh-Sans-400;
    color: hsl(237, 12%, 33%);
    font-size: 14px;
}

.ans {
    display: none;
    font-family: Kumbh-Sans-400;
    color: hsl(240, 6%, 50%);
    font-size: 12px;
    padding: 10px 10px 0px 0;
}

li {
    display: inline-block;
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    width: 400px;
}

li:hover p{
    color: rgb(216, 150, 27);
}

.texts {
    display: inline-block;
    width: 380px;
}

.arrow {
    float: right;
}

@media(max-width: 375px) {
    #photo-box{
        display: none;
    }

    #card {
        width: 90%;
        margin: 120px auto;
        display: block;
    }

    #photos {
        overflow: visible;
        width: 100%;
        height: 20px;
    }

    #photo-woman {
        left: 5%;
        top: -110px;
    }

    #photo-bg {
        top: 0%;
        left: 13%;
    }

    #side {
        margin: 120px 0;
    }

    h1 {
        text-align: center;
    }

    li {
        width: auto;
        padding: 15px 0;
        margin: 0 5%;
    }

    .texts {
        width: 280px;
    }
}